#header h1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.button {
    font-size: 30px;
    position: relative;
    float: left;
}

#myCarousel {
    padding: 0 100px;
}

.menu-title {
    text-align: center;
    padding-bottom: 10px;
}

.loading {
    margin: auto;
    height: 150px;
    text-align: center;
}

.loading h3 {
    position: absolute;
    width: 100%;
}

.loading img {
    top: 30%;
    position: absolute;
    left: 50%;
    margin-left: -12px;
}

.carousel-control {
    top: 60px;
}

.accordion-inner li {
    list-style: none;
}

.accordion-inner ul {
    float: left;
}