#header {
    padding-top: 10px;
}

#header h1 {
    text-align: center;
    padding-bottom: 20px;
}

#user-container {
    text-align: right;
    padding-right: 100px;
    margin-bottom: -18px;
}

.button {
    font-size: 30px;
    position: relative;
    float: left;
}

#myCarousel {
    padding: 0 100px;
}

.menu-title {
    text-align: center;
    padding-bottom: 10px;
}

.loading {
    margin: auto;
    height: 150px;
    text-align: center;
}

.loading h3 {
    position: absolute;
    width: 100%;
}

.loading img {
    top: 30%;
    position: absolute;
    left: 50%;
    margin-left: -12px;
}

.carousel-control {
    top: 60px;
}

.accordion-inner li {
    list-style: none;
}

.accordion-inner ul {
    float: left;
}

/* Override default bootstrap settings */
.modal {
    width: 272px;
    margin-left: -136px;
}

.modal img {
    padding: 0 0 6px 6px;
}

.modal form {
    margin: 0;
}

.modal button {
    float: right;
}

.modal form div {
    margin-top: 6px;
    height: 14px;
    width: 14px;
    float: right;
}

#login-form input[type="text"] {
    width: 232px;
}

#login-form input[type="password"] {
    width: 232px;
}

#register-form button {
    margin-right: 21px;
}

/* CSS for popup.js from http://nicolashoening.de?twocents&nr=8 */
#pup {
    position:absolute;
    z-index:1500;
    padding: 3px;
    margin-left: 5px;
    margin-top: -15px;
    width: 170px;
    box-shadow: 0 0 0 3px rgba(150, 150, 150, 0.1), 0 0 2px rgba(0, 0, 0, 0.3);
    color: #444;
    background: #ffffff;
    border: 1px solid #ddd;
    font-size: 0.95em;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}